# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules/
/__reports__/
/.vscode
/dist/
.DS_Store
*.log

# testing
/coverage

# production
/build
/.editorconfig
/.eslintignore
/.eslintrc.js
/.jsbeautifyrc
./babel.config.js
./.babelrc
/jsconfig.json
/package-lock.json
.prettierrc

/jsconfig.json
